1.1 CRM RAW-6.json
{
  "name": "1.1 CRM RAW",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  ns.id_source,\n  ns.id_user,\n  ns.id_uniq,\n  ns.type,\n  ns.days,\n  ns.date_time,\n  ns.wait_call,\n  ns.date2,\n  ns.no_answer,\n  ns.dogovor,\n  ns.rejection,\n  ns.at_event,\n  ns.vizit_time,\n  ns.meet_time,\n  ns.no_active,\n  ns.date_no_active,\n  ns.hidden,\n  ns.updated_at,\n  CURRENT_TIMESTAMP AS load_timestamp,\n  DATE(ns.date_time) AS date_key\nFROM itcrm_new_kiev.new_source ns\nWHERE (ns.date_time  >= DATE_SUB(CURDATE(), INTERVAL 7 DAY) AND ns.date_time  < CURDATE())\n   OR (ns.updated_at >= DATE_SUB(CURDATE(), INTERVAL 7 DAY) AND ns.updated_at < CURDATE());",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -9872,
        -1392
      ],
      "id": "9e0f434c-0c67-4aa0-a69c-5dcf13ff58d8",
      "name": "stg_new_sources1",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "C5GYW6qNSkDJ0GnM",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  ir.id AS request_id,\n  ir.phone,\n  ir.type AS request_type,\n  ir.form_request,\n  ir.comment,\n  ir.fio,\n  ir.email,\n  ir.analytic_info,\n  ir.date AS created_date,\n  ir.date_no_answer,\n  ir.no_active,\n  ir.name AS form_name,\n  ir.path AS landing_path,\n  ir.event_date,\n  ir.id_form,\n  CURRENT_TIMESTAMP AS load_timestamp,\n  DATE(ir.date) AS date_key\nFROM itcrm_new_kiev.internet_request ir\nWHERE ir.date >= DATE_SUB(CURDATE(), INTERVAL 7 DAY)\n  AND ir.date <  CURDATE();",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -9872,
        -1600
      ],
      "id": "0008d630-2c20-4e21-ba4f-c720498162ff",
      "name": "stg_internet_requests1",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "C5GYW6qNSkDJ0GnM",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  irr.id,\n  irr.id_request,\n  irr.id_source,\n  irr.request,\n  irr.date AS relation_date,\n  CURRENT_TIMESTAMP AS load_timestamp\nFROM itcrm_new_kiev.internet_request_relation irr\nWHERE (irr.date >= DATE_SUB(CURDATE(), INTERVAL 7 DAY) AND irr.date < CURDATE())\n   OR EXISTS (\n     SELECT 1\n     FROM itcrm_new_kiev.internet_request ir\n     WHERE ir.id = irr.id_request\n       AND ir.date >= DATE_SUB(CURDATE(), INTERVAL 30 DAY)\n       AND ir.date <  CURDATE()\n   );",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -9872,
        -1184
      ],
      "id": "329701ab-4ad4-4857-9bd6-795f31441d84",
      "name": "stg_internet_request_relation1",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "C5GYW6qNSkDJ0GnM",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  dc.id AS contract_id,\n  dc.id_source,\n  dc.external_user_id,\n  dc.external_profile_id,\n  dc.customer,\n  dc.payment_doc,\n  dc.type_contract,\n  dc.short_contract,\n  dc.short_contract_flag,\n  dc.payment_site,\n  dc.image,\n  dc.gender,\n  dc.datebirth,\n  dc.cpasport,\n  dc.cpassissued,\n  dc.cindnumber,\n  dc.lpasport,\n  dc.lpassissued,\n  dc.lindnumber,\n  dc.education,\n  dc.work,\n  dc.address,\n  dc.stream,\n  dc.special,\n  dc.timeless,\n  dc.`group`,\n  dc.okpo,\n  dc.currentdate,\n  dc.sum,\n  dc.sum_semester,\n  dc.sum_final,\n  dc.sum2,\n  dc.code1c,\n  dc.other_code,\n  dc.discount_sum,\n  dc.promocode_id,\n  dc.discount_description,\n  dc.payment_form,\n  dc.first_sum,\n  dc.date_start_lesson,\n  dc.total_cost_of_the_contract,\n  dc.cost_diploma_design,\n  dc.class_number,\n  dc.extension_status,\n  dc.extension_datetime,\n  dc.entrance_fee,\n  dc.exchange_rate,\n  dc.customer_type,\n  dc.created_at,\n  dc.updated_at,\n  dc.created_by,\n  dc.updated_by,\n  CURRENT_TIMESTAMP AS load_timestamp,\n  DATE(dc.created_at) AS date_key\nFROM itcrm_new_kiev.docs_clients dc\nWHERE (dc.created_at >= DATE_SUB(CURDATE(), INTERVAL 7 DAY) AND dc.created_at < CURDATE())\n   OR (dc.updated_at >= DATE_SUB(CURDATE(), INTERVAL 7 DAY) AND dc.updated_at < CURDATE());",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -9872,
        -976
      ],
      "id": "7737a27a-1834-4f51-917e-34c058860d58",
      "name": "stg_docs_clients1",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "C5GYW6qNSkDJ0GnM",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  np.id AS payment_id,\n  np.id_source,\n  np.payment,\n  np.reissuance,\n  np.date_payment,\n  np.date_fail,\n  np.date_prepayment,\n  CURRENT_TIMESTAMP AS load_timestamp\nFROM itcrm_new_kiev.new_payment np\nWHERE (np.date_payment    >= DATE_SUB(CURDATE(), INTERVAL 7 DAY) AND np.date_payment    < CURDATE())\n   OR (np.date_prepayment >= DATE_SUB(CURDATE(), INTERVAL 7 DAY) AND np.date_prepayment < CURDATE())\n   OR np.id_source IN (\n     SELECT ns.id_source\n     FROM itcrm_new_kiev.new_source ns\n     WHERE ns.date_time >= DATE_SUB(CURDATE(), INTERVAL 7 DAY)\n       AND ns.date_time <  CURDATE()\n   );",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -9872,
        64
      ],
      "id": "50ff9684-59cb-47a6-9e4b-27611f1f8144",
      "name": "stg_new_payments",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "C5GYW6qNSkDJ0GnM",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  r.id_result,\n  r.name_result,\n  r.img_result,\n  r.id_type,\n  r.sort_result,\n  r.visibility,\n  CURRENT_TIMESTAMP AS load_timestamp\nFROM itcrm_new_kiev.new_result_name r;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -9872,
        -144
      ],
      "id": "6584f7bf-fa32-4857-93c1-9de19567d612",
      "name": "stg_new_result_names1",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "C5GYW6qNSkDJ0GnM",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  nr.id AS result_id,\n  nr.id_source,\n  nr.id_result,\n  CURRENT_TIMESTAMP AS load_timestamp\nFROM itcrm_new_kiev.new_result nr\nWHERE nr.id_source IN (\n  SELECT ns.id_source\n  FROM itcrm_new_kiev.new_source ns\n  WHERE ns.date_time >= DATE_SUB(CURDATE(), INTERVAL 7 DAY)\n    AND ns.date_time <  CURDATE()\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -9872,
        -352
      ],
      "id": "1df0a278-5146-4112-a11a-56a8f9fb2153",
      "name": "stg_new_results1",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "C5GYW6qNSkDJ0GnM",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  f.id_form,\n  f.name_form,\n  f.short_form,\n  f.sort_form,\n  CURRENT_TIMESTAMP AS load_timestamp\nFROM itcrm_new_kiev.new_form_name f;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -9872,
        -560
      ],
      "id": "c2017bc4-004f-4574-b893-354dccca095e",
      "name": "stg_new_form_names1",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "C5GYW6qNSkDJ0GnM",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  nf.id AS form_relation_id,\n  nf.id_source,\n  nf.id_form,\n  CURRENT_TIMESTAMP AS load_timestamp\nFROM itcrm_new_kiev.new_form nf\nWHERE nf.id_source IN (\n  SELECT ns.id_source\n  FROM itcrm_new_kiev.new_source ns\n  WHERE ns.date_time >= DATE_SUB(CURDATE(), INTERVAL 7 DAY)\n    AND ns.date_time < CURDATE()\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -9872,
        -768
      ],
      "id": "484aa016-6467-4e0c-b7d5-1a36c600bfc2",
      "name": "new_form",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "C5GYW6qNSkDJ0GnM",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtMinute": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -10128,
        -2016
      ],
      "id": "f3202f1b-bb9f-4c54-84d0-fa299db5b410",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH src AS (\n  SELECT *\n  FROM json_to_recordset($1::json) AS x(\n      request_id      INT,\n      phone           TEXT,\n      request_type    TEXT,\n      form_request    INT,\n      comment         TEXT,\n      fio             TEXT,\n      email           TEXT,\n      analytic_info   TEXT,\n      created_date    TEXT,   -- было TIMESTAMP → делаем TEXT\n      date_no_answer  TEXT,   -- было DATE → делаем TEXT\n      no_active       INT,\n      form_name       TEXT,\n      landing_path    TEXT,\n      event_date      TEXT,   -- было TIMESTAMP → делаем TEXT\n      id_form         INT,\n      load_timestamp  TEXT,   -- как TEXT, приведём ниже\n      date_key        TEXT    -- как TEXT, приведём ниже\n  )\n)\nINSERT INTO raw.itcrm_internet_request AS t (\n  request_id,\n  phone,\n  request_type,\n  form_request,\n  comment,\n  fio,\n  email,\n  analytic_info,\n  created_date,\n  date_no_answer,\n  no_active,\n  form_name,\n  landing_path,\n  event_date,\n  id_form,\n  load_timestamp,\n  date_key\n)\nSELECT\n  request_id,\n  phone,\n  request_type,\n  form_request,\n  comment,\n  fio,\n  email,\n  analytic_info,\n\n  /* created_date: TIMESTAMP или NULL, если «нулевая» или пустая */\n  CASE\n    WHEN created_date IS NULL OR created_date IN ('', '0000-00-00', '0000-00-00 00:00:00') THEN NULL\n    ELSE created_date::timestamp\n  END AS created_date,\n\n  /* date_no_answer: DATE или NULL */\n  CASE\n    WHEN date_no_answer IS NULL OR date_no_answer IN ('', '0000-00-00', '0000-00-00 00:00:00') THEN NULL\n    ELSE date_no_answer::date\n  END AS date_no_answer,\n\n  no_active,\n  form_name,\n  landing_path,\n\n  /* event_date: TIMESTAMP или NULL */\n  CASE\n    WHEN event_date IS NULL OR event_date IN ('', '0000-00-00', '0000-00-00 00:00:00') THEN NULL\n    ELSE event_date::timestamp\n  END AS event_date,\n\n  id_form,\n\n  /* load_timestamp: TIMESTAMPTZ или NOW() */\n  COALESCE(\n    NULLIF(load_timestamp, '')::timestamptz,\n    NOW()\n  ) AS load_timestamp,\n\n  /* date_key: DATE или NULL */\n  CASE\n    WHEN date_key IS NULL OR date_key = '' THEN NULL\n    ELSE date_key::date\n  END AS date_key\nFROM src\nON CONFLICT (request_id) DO UPDATE\nSET\n  phone          = EXCLUDED.phone,\n  request_type   = EXCLUDED.request_type,\n  form_request   = EXCLUDED.form_request,\n  comment        = EXCLUDED.comment,\n  fio            = EXCLUDED.fio,\n  email          = EXCLUDED.email,\n  analytic_info  = EXCLUDED.analytic_info,\n  created_date   = EXCLUDED.created_date,\n  date_no_answer = EXCLUDED.date_no_answer,\n  no_active      = EXCLUDED.no_active,\n  form_name      = EXCLUDED.form_name,\n  landing_path   = EXCLUDED.landing_path,\n  event_date     = EXCLUDED.event_date,\n  id_form        = EXCLUDED.id_form,\n  load_timestamp = EXCLUDED.load_timestamp,\n  date_key       = EXCLUDED.date_key;",
        "options": {
          "queryReplacement": "=$1 = {{$json.rows}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -9392,
        -1600
      ],
      "id": "ea63fdc2-264c-45e9-aa01-80615aa871d8",
      "name": "raw.internet_request",
      "credentials": {
        "postgres": {
          "id": "vltYUx2Z4Q74JwSy",
          "name": "Final ITstep"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  a.id,\n  a.analytic_id,\n  a.internet_request_id,\n  a.code,\n  ir.date           AS request_created_at,\n  ir.phone,\n  ir.email,\n  CURRENT_TIMESTAMP AS load_timestamp\nFROM itcrm_new_kiev.analytics a\nJOIN itcrm_new_kiev.internet_request ir\n  ON ir.id = a.internet_request_id\nWHERE ir.date >= DATE_SUB(CURDATE(), INTERVAL 7 DAY)\n  AND ir.date <  CURDATE()\nORDER BY a.id ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -9872,
        -1824
      ],
      "id": "f1de7fce-5181-48ac-b9b8-8c2522247d83",
      "name": "stg_analytics1",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "C5GYW6qNSkDJ0GnM",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Name: Prepare Analytics with Error Handling\n\nfunction clean(s) {\n  if (s == null) return null;\n  s = String(s);\n  // убрать BOM и мусор\n  s = s.replace(/^\\uFEFF/, '').replace(/[\\x00-\\x1F\\x7F]/g, '').trim();\n  return s || null;\n}\n\nfunction safeJsonParse(raw) {\n  if (!raw) return null;\n  \n  try {\n    // Если начинается с { или [, пытаемся парсить\n    if (/^[\\[{]/.test(raw)) {\n      return JSON.parse(raw);\n    }\n    // Иначе возвращаем как строку\n    return raw;\n  } catch (e) {\n    // Логируем ошибку для мониторинга\n    console.warn(`JSON parse failed for value: ${raw.substring(0, 100)}... Error: ${e.message}`);\n    // Возвращаем сырую строку при ошибке\n    return raw;\n  }\n}\n\nconst processedRows = items.map((i, index) => {\n  try {\n    const raw = clean(i.json.code);\n    const code_json = safeJsonParse(raw);\n\n    return {\n      id: i.json.id,\n      analytic_id: i.json.analytic_id,\n      internet_request_id: i.json.internet_request_id,\n      code_json,\n      request_created_at: i.json.request_created_at,\n      phone: i.json.phone != null ? String(i.json.phone) : null,\n      email: i.json.email ?? null,\n      load_timestamp: i.json.load_timestamp ?? null\n    };\n  } catch (error) {\n    console.error(`Error processing row ${index}, id=${i.json.id}: ${error.message}`);\n    // Возвращаем запись с null code_json при критической ошибке\n    return {\n      id: i.json.id,\n      analytic_id: i.json.analytic_id,\n      internet_request_id: i.json.internet_request_id,\n      code_json: null,\n      request_created_at: i.json.request_created_at,\n      phone: i.json.phone != null ? String(i.json.phone) : null,\n      email: i.json.email ?? null,\n      load_timestamp: i.json.load_timestamp ?? null\n    };\n  }\n});\n\nreturn [{\n  json: {\n    rows: processedRows\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9664,
        -1824
      ],
      "id": "c7a4aa5b-a5e8-4dfb-a3ee-5332a09bbe92",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "// Name: Prepare Bulk JSON (internet_request)\n\nfunction emptyToNull(v) {\n  if (v === undefined || v === null) return null;\n  const s = String(v).trim();\n  return s === '' ? null : s;\n}\n\nreturn [\n  {\n    json: {\n      rows: items.map(({ json: r }) => ({\n        request_id:        r.request_id != null ? Number(r.request_id) : null,\n        phone:              r.phone != null ? String(r.phone) : null,      // номер храним строкой\n        request_type:       emptyToNull(r.request_type),\n        form_request:       r.form_request != null ? Number(r.form_request) : null,\n        comment:            emptyToNull(r.comment),\n        fio:                emptyToNull(r.fio),\n        email:              emptyToNull(r.email),\n        analytic_info:      emptyToNull(r.analytic_info),\n\n        // Даты/время — передаем как пришло (Postgres сам приведет TIMESTAMP/DATE)\n        created_date:       r.created_date ?? null,       // 'YYYY-MM-DD HH:MM:SS' или ISO\n        date_no_answer:     r.date_no_answer ?? null,     // может быть '0000-00-00' — обработаем в SQL NULLIF\n        no_active:          r.no_active != null ? Number(r.no_active) : null,\n\n        form_name:          emptyToNull(r.form_name),\n        landing_path:       emptyToNull(r.landing_path),\n        event_date:         r.event_date ?? null,         // может быть null\n        id_form:            r.id_form != null ? Number(r.id_form) : null,\n\n        load_timestamp:     r.load_timestamp ?? null,     // если нет — в SQL подставим NOW()\n        date_key:           r.date_key ?? null            // 'YYYY-MM-DD'\n      }))\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9664,
        -1600
      ],
      "id": "7fef3682-11fa-4dc8-9f55-f9a10b44f3f5",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "// Name: Prepare Bulk JSON (new_source)\n\nfunction emptyToNull(v) {\n  if (v === undefined || v === null) return null;\n  const s = String(v).trim();\n  return s === '' ? null : s;\n}\n\nfunction toNumOrNull(v, toInt = true) {\n  if (v === undefined || v === null || v === '') return null;\n  \n  // Безопасное преобразование\n  try {\n    const n = toInt ? parseInt(v, 10) : Number(v);\n    \n    // Проверка на валидность\n    if (!Number.isFinite(n)) {\n      console.warn(`Invalid number conversion: \"${v}\" -> ${n}`);\n      return null;\n    }\n    \n    return n;\n  } catch (error) {\n    console.error(`Number conversion error for value \"${v}\": ${error.message}`);\n    return null;\n  }\n}\n\nreturn [\n  {\n    json: {\n      rows: items.map(({ json: r }) => ({\n        id_source:      toNumOrNull(r.id_source),\n        id_user:        toNumOrNull(r.id_user),\n        id_uniq:        toNumOrNull(r.id_uniq),\n        type:           toNumOrNull(r.type),\n\n        // даты/время передаем как строку — приведём в SQL\n        days:           r.days ?? null,           // 'YYYY-MM-DD'\n        date_time:      r.date_time ?? null,      // 'YYYY-MM-DD HH:MM:SS' / ISO / '0000-00-00 00:00:00'\n        wait_call:      r.wait_call ?? null,\n        date2:          r.date2 ?? null,\n        no_answer:      toNumOrNull(r.no_answer),\n        dogovor:        toNumOrNull(r.dogovor),\n        rejection:      toNumOrNull(r.rejection),\n        at_event:       toNumOrNull(r.at_event),\n        vizit_time:     r.vizit_time ?? null,\n        meet_time:      r.meet_time ?? null,\n        no_active:      toNumOrNull(r.no_active),\n        date_no_active: r.date_no_active ?? null,\n        hidden:         toNumOrNull(r.hidden),\n\n        updated_at:     r.updated_at ?? null,\n        load_timestamp: r.load_timestamp ?? null,\n        date_key:       r.date_key ?? null\n      }))\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9664,
        -1392
      ],
      "id": "9e8d97a6-80f1-4d19-864b-545ef1fe3967",
      "name": "Code2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH src AS (\n  SELECT *\n  FROM json_to_recordset($1::json) AS x(\n      id_source       TEXT,\n      id_user         TEXT,\n      id_uniq         TEXT,\n      type            TEXT,\n      days            TEXT,\n      date_time       TEXT,\n      wait_call       TEXT,\n      date2           TEXT,\n      no_answer       TEXT,\n      dogovor         TEXT,\n      rejection       TEXT,\n      at_event        TEXT,\n      vizit_time      TEXT,\n      meet_time       TEXT,\n      no_active       TEXT,\n      date_no_active  TEXT,\n      hidden          TEXT,\n      updated_at      TEXT,\n      load_timestamp  TEXT,\n      date_key        TEXT\n  )\n)\nINSERT INTO raw.itcrm_new_source AS t (\n  id_source,\n  id_user,\n  id_uniq,\n  type,\n  days,\n  date_time,\n  wait_call,\n  date2,\n  no_answer,\n  dogovor,\n  rejection,\n  at_event,\n  vizit_time,\n  meet_time,\n  no_active,\n  date_no_active,\n  hidden,\n  updated_at,\n  load_timestamp,\n  date_key\n)\nSELECT\n  -- числовые\n  NULLIF(id_source,'')::bigint,\n  NULLIF(id_user,'')::bigint,\n  NULLIF(id_uniq,'')::bigint,\n  NULLIF(type,'')::int,\n\n  -- даты (DATE): пустые/нулевые -> NULL\n  CASE WHEN days IS NULL OR days IN ('', '0000-00-00') THEN NULL ELSE days::date END AS days,\n\n  -- таймстемпы (TIMESTAMP): пустые/нулевые -> NULL\n  CASE WHEN date_time      IS NULL OR date_time      IN ('', '0000-00-00 00:00:00','0000-00-00') THEN NULL ELSE date_time::timestamp END AS date_time,\n  CASE WHEN wait_call      IS NULL OR wait_call      IN ('', '0000-00-00 00:00:00','0000-00-00') THEN NULL ELSE wait_call::timestamp END AS wait_call,\n  CASE WHEN date2          IS NULL OR date2          IN ('', '0000-00-00')                         THEN NULL ELSE date2::date END AS date2,\n\n  -- флаги/счетчики\n  CASE WHEN NULLIF(no_answer,'') IS NULL THEN NULL ELSE no_answer::int END AS no_answer,\n  CASE WHEN NULLIF(dogovor,'')   IS NULL THEN NULL ELSE dogovor::int   END AS dogovor,\n  CASE WHEN NULLIF(rejection,'') IS NULL THEN NULL ELSE rejection::int END AS rejection,\n  CASE WHEN NULLIF(at_event,'')  IS NULL THEN NULL ELSE at_event::int  END AS at_event,\n\n  CASE WHEN vizit_time     IS NULL OR vizit_time     IN ('', '0000-00-00 00:00:00','0000-00-00') THEN NULL ELSE vizit_time::timestamp END AS vizit_time,\n  CASE WHEN meet_time      IS NULL OR meet_time      IN ('', '0000-00-00 00:00:00','0000-00-00') THEN NULL ELSE meet_time::timestamp  END AS meet_time,\n\n  CASE WHEN NULLIF(no_active,'') IS NULL THEN NULL ELSE no_active::int END AS no_active,\n  CASE WHEN date_no_active IS NULL OR date_no_active IN ('', '0000-00-00') THEN NULL ELSE date_no_active::date END AS date_no_active,\n\n  CASE WHEN NULLIF(hidden,'') IS NULL THEN NULL ELSE hidden::int END AS hidden,\n\n  CASE WHEN updated_at     IS NULL OR updated_at     IN ('', '0000-00-00 00:00:00','0000-00-00') THEN NULL ELSE updated_at::timestamp END AS updated_at,\n\n  COALESCE(NULLIF(load_timestamp,'')::timestamptz, NOW()) AS load_timestamp,\n\n  CASE WHEN date_key IS NULL OR date_key IN ('') THEN NULL ELSE date_key::date END AS date_key\nFROM src\nON CONFLICT (id_source) DO UPDATE\nSET\n  id_user        = EXCLUDED.id_user,\n  id_uniq        = EXCLUDED.id_uniq,\n  type           = EXCLUDED.type,\n  days           = EXCLUDED.days,\n  date_time      = EXCLUDED.date_time,\n  wait_call      = EXCLUDED.wait_call,\n  date2          = EXCLUDED.date2,\n  no_answer      = EXCLUDED.no_answer,\n  dogovor        = EXCLUDED.dogovor,\n  rejection      = EXCLUDED.rejection,\n  at_event       = EXCLUDED.at_event,\n  vizit_time     = EXCLUDED.vizit_time,\n  meet_time      = EXCLUDED.meet_time,\n  no_active      = EXCLUDED.no_active,\n  date_no_active = EXCLUDED.date_no_active,\n  hidden         = EXCLUDED.hidden,\n  updated_at     = EXCLUDED.updated_at,\n  load_timestamp = EXCLUDED.load_timestamp,\n  date_key       = EXCLUDED.date_key;",
        "options": {
          "queryReplacement": "=$1 = {{$json.rows}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -9392,
        -1392
      ],
      "id": "cb7fde12-d2e4-4880-9d8a-f97a530b4bcb",
      "name": "raw.itcrm_new_source",
      "credentials": {
        "postgres": {
          "id": "vltYUx2Z4Q74JwSy",
          "name": "Final ITstep"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Name: Prepare Bulk JSON (internet_request_relation)\n\nfunction toNumOrNull(v, toInt = true) {\n  if (v === undefined || v === null || v === '') return null;\n  \n  // Безопасное преобразование\n  try {\n    const n = toInt ? parseInt(v, 10) : Number(v);\n    \n    // Проверка на валидность\n    if (!Number.isFinite(n)) {\n      console.warn(`Invalid number conversion: \"${v}\" -> ${n}`);\n      return null;\n    }\n    \n    return n;\n  } catch (error) {\n    console.error(`Number conversion error for value \"${v}\": ${error.message}`);\n    return null;\n  }\n}\n\nreturn [\n  {\n    json: {\n      rows: items.map(({ json: r }) => ({\n        id:            toNumOrNull(r.id),\n        id_request:    toNumOrNull(r.id_request),\n        id_source:     toNumOrNull(r.id_source),\n        request:       toNumOrNull(r.request),\n        // даты передаём как строку - парсим в SQL с защитой от '0000-00-00'\n        relation_date: r.relation_date ?? null,\n        load_timestamp: r.load_timestamp ?? null\n      }))\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9664,
        -1184
      ],
      "id": "3ef76661-9886-4381-b5b8-6ffb87bea8b9",
      "name": "Code3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH src AS (\n  SELECT *\n  FROM json_to_recordset($1::json) AS x(\n    id             TEXT,\n    id_request     TEXT,\n    id_source      TEXT,\n    request        TEXT,\n    relation_date  TEXT,\n    load_timestamp TEXT\n  )\n)\nINSERT INTO raw.itcrm_internet_request_relation AS t (\n  id,\n  id_request,\n  id_source,\n  request,\n  relation_date,\n  load_timestamp\n)\nSELECT\n  NULLIF(id,'')::bigint,\n  NULLIF(id_request,'')::bigint,\n  NULLIF(id_source,'')::bigint,\n  CASE WHEN NULLIF(request,'') IS NULL THEN NULL ELSE request::int END,\n  CASE\n    WHEN relation_date IS NULL OR relation_date IN ('', '0000-00-00', '0000-00-00 00:00:00')\n      THEN NULL\n    ELSE relation_date::date\n  END,\n  COALESCE(NULLIF(load_timestamp,'')::timestamptz, NOW())\nFROM src\nON CONFLICT (id) DO UPDATE\nSET\n  id_request     = EXCLUDED.id_request,\n  id_source      = EXCLUDED.id_source,\n  request        = EXCLUDED.request,\n  relation_date  = EXCLUDED.relation_date,\n  load_timestamp = EXCLUDED.load_timestamp;",
        "options": {
          "queryReplacement": "=$1 = {{$json.rows}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -9392,
        -1184
      ],
      "id": "b66d7a13-85dd-4665-9398-ef0d03f65667",
      "name": "raw.itcrm_internet_request_relation",
      "credentials": {
        "postgres": {
          "id": "vltYUx2Z4Q74JwSy",
          "name": "Final ITstep"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Name: Prepare Bulk JSON (docs_clients)\n\nfunction toNumOrNull(v, toInt = true) {\n  if (v === undefined || v === null || v === '') return null;\n  \n  // Безопасное преобразование\n  try {\n    const n = toInt ? parseInt(v, 10) : Number(v);\n    \n    // Проверка на валидность\n    if (!Number.isFinite(n)) {\n      console.warn(`Invalid number conversion: \"${v}\" -> ${n}`);\n      return null;\n    }\n    \n    return n;\n  } catch (error) {\n    console.error(`Number conversion error for value \"${v}\": ${error.message}`);\n    return null;\n  }\n}\n\nfunction emptyToNull(v) {\n  if (v === undefined || v === null) return null;\n  const s = String(v).trim();\n  return s === '' ? null : s;\n}\n\nreturn [\n  {\n    json: {\n      rows: items.map(({ json: r }) => ({\n        contract_id:                 toNumOrNull(r.contract_id),\n        id_source:                   toNumOrNull(r.id_source),\n        external_user_id:            toNumOrNull(r.external_user_id),\n        external_profile_id:         toNumOrNull(r.external_profile_id),\n        customer:                    emptyToNull(r.customer),\n        payment_doc:                 emptyToNull(r.payment_doc),\n        type_contract:               emptyToNull(r.type_contract),\n        short_contract:              emptyToNull(r.short_contract),\n        short_contract_flag:         toNumOrNull(r.short_contract_flag),\n        payment_site:                toNumOrNull(r.payment_site),\n        image:                       emptyToNull(r.image),\n        gender:                      toNumOrNull(r.gender),\n\n        datebirth:                   r.datebirth ?? null,\n        cpasport:                    emptyToNull(r.cpasport),\n        cpassissued:                 r.cpassissued ?? null,\n        cindnumber:                  emptyToNull(r.cindnumber),\n        lpasport:                    emptyToNull(r.lpasport),\n        lpassissued:                 r.lpassissued ?? null,\n        lindnumber:                  emptyToNull(r.lindnumber),\n        education:                   emptyToNull(r.education),\n        work:                        emptyToNull(r.work),\n        address:                     emptyToNull(r.address),\n        stream:                      emptyToNull(r.stream),\n        special:                     emptyToNull(r.special),\n        timeless:                    toNumOrNull(r.timeless),\n\n        // MySQL поле `group` попадает как r.group — маппим в group_name\n        group_name:                  emptyToNull(r.group),\n\n        okpo:                        emptyToNull(r.okpo),\n        currentdate:                 r.currentdate ?? null,\n\n        // деньги и числа — строками, приведём в SQL в NUMERIC\n        sum_total:                   r.sum ?? null,                 // dc.sum\n        sum_semester:                r.sum_semester ?? null,\n        sum_final:                   r.sum_final ?? null,\n        sum2:                        r.sum2 ?? null,\n        code1c:                      emptyToNull(r.code1c),\n        other_code:                  emptyToNull(r.other_code),\n        discount_sum:                r.discount_sum ?? null,\n        promocode_id:                toNumOrNull(r.promocode_id),\n        discount_description:        emptyToNull(r.discount_description),\n        payment_form:                emptyToNull(r.payment_form),\n        first_sum:                   r.first_sum ?? null,\n        date_start_lesson:           r.date_start_lesson ?? null,\n        total_cost_of_the_contract:  r.total_cost_of_the_contract ?? null,\n        cost_diploma_design:         r.cost_diploma_design ?? null,\n        class_number:                toNumOrNull(r.class_number),\n        extension_status:            toNumOrNull(r.extension_status),\n        extension_datetime:          r.extension_datetime ?? null,\n        entrance_fee:                r.entrance_fee ?? null,\n        exchange_rate:               r.exchange_rate ?? null,\n        customer_type:               toNumOrNull(r.customer_type),\n\n        created_at:                  r.created_at ?? null,\n        updated_at:                  r.updated_at ?? null,\n        created_by:                  toNumOrNull(r.created_by),\n        updated_by:                  toNumOrNull(r.updated_by),\n\n        load_timestamp:              r.load_timestamp ?? null,\n        date_key:                    r.date_key ?? null\n      }))\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9664,
        -976
      ],
      "id": "f548b27b-db55-4d2c-b7c3-926ae4acb8b0",
      "name": "Code4"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH src AS (\n  SELECT *\n  FROM json_to_recordset($1::json) AS x(\n    contract_id                   TEXT,\n    id_source                     TEXT,\n    external_user_id              TEXT,\n    external_profile_id           TEXT,\n    customer                      TEXT,\n    payment_doc                   TEXT,\n    type_contract                 TEXT,\n    short_contract                TEXT,\n    short_contract_flag           TEXT,\n    payment_site                  TEXT,\n    image                         TEXT,\n    gender                        TEXT,\n    datebirth                     TEXT,\n    cpasport                      TEXT,\n    cpassissued                   TEXT,\n    cindnumber                    TEXT,\n    lpasport                      TEXT,\n    lpassissued                   TEXT,\n    lindnumber                    TEXT,\n    education                     TEXT,\n    work                          TEXT,\n    address                       TEXT,\n    stream                        TEXT,\n    special                       TEXT,\n    timeless                      TEXT,\n    group_name                    TEXT,\n    okpo                          TEXT,\n    currentdate                   TEXT,\n    sum_total                     TEXT,\n    sum_semester                  TEXT,\n    sum_final                     TEXT,\n    sum2                          TEXT,\n    code1c                        TEXT,\n    other_code                    TEXT,\n    discount_sum                  TEXT,\n    promocode_id                  TEXT,\n    discount_description          TEXT,\n    payment_form                  TEXT,\n    first_sum                     TEXT,\n    date_start_lesson             TEXT,\n    total_cost_of_the_contract    TEXT,\n    cost_diploma_design           TEXT,\n    class_number                  TEXT,\n    extension_status              TEXT,\n    extension_datetime            TEXT,\n    entrance_fee                  TEXT,\n    exchange_rate                 TEXT,\n    customer_type                 TEXT,\n    created_at                    TEXT,\n    updated_at                    TEXT,\n    created_by                    TEXT,\n    updated_by                    TEXT,\n    load_timestamp                TEXT,\n    date_key                      TEXT\n  )\n)\nINSERT INTO raw.itcrm_docs_clients AS t (\n  contract_id,\n  id_source,\n  external_user_id,\n  external_profile_id,\n  customer,\n  payment_doc,\n  type_contract,\n  short_contract,\n  short_contract_flag,\n  payment_site,\n  image,\n  gender,\n  datebirth,\n  cpasport,\n  cpassissued,\n  cindnumber,\n  lpasport,\n  lpassissued,\n  lindnumber,\n  education,\n  work,\n  address,\n  stream,\n  special,\n  timeless,\n  group_name,\n  okpo,\n  currentdate,\n  sum_total,\n  sum_semester,\n  sum_final,\n  sum2,\n  code1c,\n  other_code,\n  discount_sum,\n  promocode_id,\n  discount_description,\n  payment_form,\n  first_sum,\n  date_start_lesson,\n  total_cost_of_the_contract,\n  cost_diploma_design,\n  class_number,\n  extension_status,\n  extension_datetime,\n  entrance_fee,\n  exchange_rate,\n  customer_type,\n  created_at,\n  updated_at,\n  created_by,\n  updated_by,\n  load_timestamp,\n  date_key\n)\nSELECT\n  NULLIF(contract_id,'')::bigint,\n  NULLIF(id_source,'')::bigint,\n  NULLIF(external_user_id,'')::bigint,\n  NULLIF(external_profile_id,'')::bigint,\n  customer,\n  payment_doc,\n  type_contract,\n  short_contract,\n  CASE WHEN NULLIF(short_contract_flag,'') IS NULL THEN NULL ELSE short_contract_flag::int END,\n  CASE WHEN NULLIF(payment_site,'')      IS NULL THEN NULL ELSE payment_site::int      END,\n  image,\n  CASE WHEN NULLIF(gender,'')           IS NULL THEN NULL ELSE gender::int            END,\n\n  /* ===== DATE: поддержка YYYY-MM-DD и DD.MM.YYYY ===== */\n  CASE\n    WHEN datebirth IS NULL OR datebirth = '' OR datebirth LIKE '0000-00-00%' THEN NULL\n    WHEN datebirth ~ '^\\d{4}-\\d{2}-\\d{2}$'                      THEN datebirth::date\n    WHEN datebirth ~ '^\\d{2}\\.\\d{2}\\.\\d{4}$'                    THEN to_date(datebirth,'DD.MM.YYYY')\n    ELSE NULL\n  END AS datebirth,\n\n  cpasport,\n\n  CASE\n    WHEN cpassissued IS NULL OR cpassissued = '' OR cpassissued LIKE '0000-00-00%' THEN NULL\n    WHEN cpassissued ~ '^\\d{4}-\\d{2}-\\d{2}$'                    THEN cpassissued::date\n    WHEN cpassissued ~ '^\\d{2}\\.\\d{2}\\.\\d{4}$'                  THEN to_date(cpassissued,'DD.MM.YYYY')\n    ELSE NULL\n  END AS cpassissued,\n\n  cindnumber,\n  lpasport,\n\n  CASE\n    WHEN lpassissued IS NULL OR lpassissued = '' OR lpassissued LIKE '0000-00-00%' THEN NULL\n    WHEN lpassissued ~ '^\\d{4}-\\d{2}-\\d{2}$'                    THEN lpassissued::date\n    WHEN lpassissued ~ '^\\d{2}\\.\\d{2}\\.\\d{4}$'                  THEN to_date(lpassissued,'DD.MM.YYYY')\n    ELSE NULL\n  END AS lpassissued,\n\n  lindnumber,\n  education,\n  work,\n  address,\n  stream,\n  special,\n  CASE WHEN NULLIF(timeless,'')         IS NULL THEN NULL ELSE timeless::int          END,\n  group_name,\n  okpo,\n\n  CASE\n    WHEN currentdate IS NULL OR currentdate = '' OR currentdate LIKE '0000-00-00%' THEN NULL\n    WHEN currentdate ~ '^\\d{4}-\\d{2}-\\d{2}$'                    THEN currentdate::date\n    WHEN currentdate ~ '^\\d{2}\\.\\d{2}\\.\\d{4}$'                  THEN to_date(currentdate,'DD.MM.YYYY')\n    ELSE NULL\n  END AS currentdate,\n\n  /* ===== NUMERIC ===== */\n  NULLIF(sum_total,'')::numeric(18,2),\n  NULLIF(sum_semester,'')::numeric(18,2),\n  NULLIF(sum_final,'')::numeric(18,2),\n  NULLIF(sum2,'')::numeric(18,2),\n  code1c,\n  other_code,\n  NULLIF(discount_sum,'')::numeric(18,2),\n  NULLIF(promocode_id,'')::bigint,\n  discount_description,\n  payment_form,\n  NULLIF(first_sum,'')::numeric(18,2),\n\n  CASE\n    WHEN date_start_lesson IS NULL OR date_start_lesson = '' OR date_start_lesson LIKE '0000-00-00%' THEN NULL\n    WHEN date_start_lesson ~ '^\\d{4}-\\d{2}-\\d{2}$'             THEN date_start_lesson::date\n    WHEN date_start_lesson ~ '^\\d{2}\\.\\d{2}\\.\\d{4}$'           THEN to_date(date_start_lesson,'DD.MM.YYYY')\n    ELSE NULL\n  END AS date_start_lesson,\n\n  NULLIF(total_cost_of_the_contract,'')::numeric(18,2),\n  NULLIF(cost_diploma_design,'')::numeric(18,2),\n\n  CASE WHEN NULLIF(class_number,'')      IS NULL THEN NULL ELSE class_number::int      END,\n  CASE WHEN NULLIF(extension_status,'')  IS NULL THEN NULL ELSE extension_status::int  END,\n\n  /* ===== TIMESTAMP: поддержка YYYY-MM-DD HH:MM:SS и DD.MM.YYYY HH:MM:SS (а также чистой даты) ===== */\n  CASE\n    WHEN extension_datetime IS NULL OR extension_datetime = '' OR extension_datetime IN ('0000-00-00','0000-00-00 00:00:00') THEN NULL\n    WHEN extension_datetime ~ '^\\d{4}-\\d{2}-\\d{2}\\s+\\d{2}:\\d{2}:\\d{2}$' THEN extension_datetime::timestamp\n    WHEN extension_datetime ~ '^\\d{2}\\.\\d{2}\\.\\d{4}\\s+\\d{2}:\\d{2}:\\d{2}$' THEN to_timestamp(extension_datetime,'DD.MM.YYYY HH24:MI:SS')\n    WHEN extension_datetime ~ '^\\d{4}-\\d{2}-\\d{2}$' THEN (extension_datetime::date)::timestamp\n    WHEN extension_datetime ~ '^\\d{2}\\.\\d{2}\\.\\d{4}$' THEN to_date(extension_datetime,'DD.MM.YYYY')::timestamp\n    ELSE NULL\n  END AS extension_datetime,\n\n  NULLIF(entrance_fee,'')::numeric(18,2),\n  NULLIF(exchange_rate,'')::numeric(18,6),\n  CASE WHEN NULLIF(customer_type,'')     IS NULL THEN NULL ELSE customer_type::int     END,\n\n  CASE\n    WHEN created_at IS NULL OR created_at = '' OR created_at IN ('0000-00-00','0000-00-00 00:00:00') THEN NULL\n    WHEN created_at ~ '^\\d{4}-\\d{2}-\\d{2}\\s+\\d{2}:\\d{2}:\\d{2}$' THEN created_at::timestamp\n    WHEN created_at ~ '^\\d{2}\\.\\d{2}\\.\\d{4}\\s+\\d{2}:\\d{2}:\\d{2}$' THEN to_timestamp(created_at,'DD.MM.YYYY HH24:MI:SS')\n    WHEN created_at ~ '^\\d{4}-\\d{2}-\\d{2}$' THEN (created_at::date)::timestamp\n    WHEN created_at ~ '^\\d{2}\\.\\d{2}\\.\\d{4}$' THEN to_date(created_at,'DD.MM.YYYY')::timestamp\n    ELSE NULL\n  END AS created_at,\n\n  CASE\n    WHEN updated_at IS NULL OR updated_at = '' OR updated_at IN ('0000-00-00','0000-00-00 00:00:00') THEN NULL\n    WHEN updated_at ~ '^\\d{4}-\\d{2}-\\d{2}\\s+\\d{2}:\\d{2}:\\d{2}$' THEN updated_at::timestamp\n    WHEN updated_at ~ '^\\d{2}\\.\\d{2}\\.\\d{4}\\s+\\d{2}:\\d{2}:\\d{2}$' THEN to_timestamp(updated_at,'DD.MM.YYYY HH24:MI:SS')\n    WHEN updated_at ~ '^\\d{4}-\\d{2}-\\d{2}$' THEN (updated_at::date)::timestamp\n    WHEN updated_at ~ '^\\d{2}\\.\\d{2}\\.\\d{4}$' THEN to_date(updated_at,'DD.MM.YYYY')::timestamp\n    ELSE NULL\n  END AS updated_at,\n\n  NULLIF(created_by,'')::bigint,\n  NULLIF(updated_by,'')::bigint,\n\n  COALESCE(NULLIF(load_timestamp,'')::timestamptz, NOW()) AS load_timestamp,\n\n  CASE\n    WHEN date_key IS NULL OR date_key = '' OR date_key LIKE '0000-00-00%' THEN NULL\n    WHEN date_key ~ '^\\d{4}-\\d{2}-\\d{2}$'                   THEN date_key::date\n    WHEN date_key ~ '^\\d{2}\\.\\d{2}\\.\\d{4}$'                 THEN to_date(date_key,'DD.MM.YYYY')\n    ELSE NULL\n  END AS date_key\nFROM src\nON CONFLICT (contract_id) DO UPDATE\nSET\n  id_source                     = EXCLUDED.id_source,\n  external_user_id              = EXCLUDED.external_user_id,\n  external_profile_id           = EXCLUDED.external_profile_id,\n  customer                      = EXCLUDED.customer,\n  payment_doc                   = EXCLUDED.payment_doc,\n  type_contract                 = EXCLUDED.type_contract,\n  short_contract                = EXCLUDED.short_contract,\n  short_contract_flag           = EXCLUDED.short_contract_flag,\n  payment_site                  = EXCLUDED.payment_site,\n  image                         = EXCLUDED.image,\n  gender                        = EXCLUDED.gender,\n  datebirth                     = EXCLUDED.datebirth,\n  cpasport                      = EXCLUDED.cpasport,\n  cpassissued                   = EXCLUDED.cpassissued,\n  cindnumber                    = EXCLUDED.cindnumber,\n  lpasport                      = EXCLUDED.lpasport,\n  lpassissued                   = EXCLUDED.lpassissued,\n  lindnumber                    = EXCLUDED.lindnumber,\n  education                     = EXCLUDED.education,\n  work                          = EXCLUDED.work,\n  address                       = EXCLUDED.address,\n  stream                        = EXCLUDED.stream,\n  special                       = EXCLUDED.special,\n  timeless                      = EXCLUDED.timeless,\n  group_name                    = EXCLUDED.group_name,\n  okpo                          = EXCLUDED.okpo,\n  currentdate                   = EXCLUDED.currentdate,\n  sum_total                     = EXCLUDED.sum_total,\n  sum_semester                  = EXCLUDED.sum_semester,\n  sum_final                     = EXCLUDED.sum_final,\n  sum2                          = EXCLUDED.sum2,\n  code1c                        = EXCLUDED.code1c,\n  other_code                    = EXCLUDED.other_code,\n  discount_sum                  = EXCLUDED.discount_sum,\n  promocode_id                  = EXCLUDED.promocode_id,\n  discount_description          = EXCLUDED.discount_description,\n  payment_form                  = EXCLUDED.payment_form,\n  first_sum                     = EXCLUDED.first_sum,\n  date_start_lesson             = EXCLUDED.date_start_lesson,\n  total_cost_of_the_contract    = EXCLUDED.total_cost_of_the_contract,\n  cost_diploma_design           = EXCLUDED.cost_diploma_design,\n  class_number                  = EXCLUDED.class_number,\n  extension_status              = EXCLUDED.extension_status,\n  extension_datetime            = EXCLUDED.extension_datetime,\n  entrance_fee                  = EXCLUDED.entrance_fee,\n  exchange_rate                 = EXCLUDED.exchange_rate,\n  customer_type                 = EXCLUDED.customer_type,\n  created_at                    = EXCLUDED.created_at,\n  updated_at                    = EXCLUDED.updated_at,\n  created_by                    = EXCLUDED.created_by,\n  updated_by                    = EXCLUDED.updated_by,\n  load_timestamp                = EXCLUDED.load_timestamp,\n  date_key                      = EXCLUDED.date_key;",
        "options": {
          "queryReplacement": "=$1 = {{$json.rows}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -9392,
        -976
      ],
      "id": "bc191ba7-0b6f-4cc7-9d07-ceb622eea80a",
      "name": "raw.itcrm_docs_clients",
      "credentials": {
        "postgres": {
          "id": "vltYUx2Z4Q74JwSy",
          "name": "Final ITstep"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Name: Prepare Bulk JSON (new_form)\n\nfunction toNumOrNull(v, toInt = true) {\n  if (v === undefined || v === null || v === '') return null;\n  \n  // Безопасное преобразование\n  try {\n    const n = toInt ? parseInt(v, 10) : Number(v);\n    \n    // Проверка на валидность\n    if (!Number.isFinite(n)) {\n      console.warn(`Invalid number conversion: \"${v}\" -> ${n}`);\n      return null;\n    }\n    \n    return n;\n  } catch (error) {\n    console.error(`Number conversion error for value \"${v}\": ${error.message}`);\n    return null;\n  }\n}\n\nreturn [\n  {\n    json: {\n      rows: items.map(({ json: r }) => ({\n        form_relation_id: toNumOrNull(r.form_relation_id),\n        id_source:        toNumOrNull(r.id_source),\n        id_form:          toNumOrNull(r.id_form),\n        load_timestamp:   r.load_timestamp ?? null\n      }))\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9664,
        -768
      ],
      "id": "db721c2a-c7ca-4274-bcbe-b367c4357dcf",
      "name": "Code5"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH src AS (\n  SELECT *\n  FROM json_to_recordset($1::json) AS x(\n    form_relation_id TEXT,\n    id_source        TEXT,\n    id_form          TEXT,\n    load_timestamp   TEXT\n  )\n)\nINSERT INTO raw.itcrm_new_form AS t (\n  form_relation_id,\n  id_source,\n  id_form,\n  load_timestamp\n)\nSELECT\n  NULLIF(form_relation_id,'')::bigint,\n  NULLIF(id_source,'')::bigint,\n  CASE WHEN NULLIF(id_form,'') IS NULL THEN NULL ELSE id_form::int END,\n  COALESCE(NULLIF(load_timestamp,'')::timestamptz, NOW())\nFROM src\nON CONFLICT (form_relation_id) DO UPDATE\nSET\n  id_source      = EXCLUDED.id_source,\n  id_form        = EXCLUDED.id_form,\n  load_timestamp = EXCLUDED.load_timestamp;",
        "options": {
          "queryReplacement": "=$1 = {{$json.rows}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -9392,
        -768
      ],
      "id": "4e5fcc83-1ba3-4469-acf6-e2400cdadcb5",
      "name": "raw.itcrm_new_form",
      "credentials": {
        "postgres": {
          "id": "vltYUx2Z4Q74JwSy",
          "name": "Final ITstep"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function toNumOrNull(v, toInt = true) {\n  if (v === undefined || v === null || v === '') return null;\n  \n  // Безопасное преобразование\n  try {\n    const n = toInt ? parseInt(v, 10) : Number(v);\n    \n    // Проверка на валидность\n    if (!Number.isFinite(n)) {\n      console.warn(`Invalid number conversion: \"${v}\" -> ${n}`);\n      return null;\n    }\n    \n    return n;\n  } catch (error) {\n    console.error(`Number conversion error for value \"${v}\": ${error.message}`);\n    return null;\n  }\n}\n\nfunction emptyToNull(v) {\n  if (v === undefined || v === null) return null;\n  const s = String(v).trim();\n  return s === '' ? null : s;\n}\n\nreturn [\n  {\n    json: {\n      rows: items.map(({ json: r }) => ({\n        id_form:        toNumOrNull(r.id_form),\n        name_form:      emptyToNull(r.name_form),\n        short_form:     toNumOrNull(r.short_form),\n        sort_form:      toNumOrNull(r.sort_form),\n        load_timestamp: r.load_timestamp ?? null\n      }))\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9664,
        -560
      ],
      "id": "e7e01422-a324-4e43-af60-fe0ef1337864",
      "name": "Code7"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH src AS (\n  SELECT *\n  FROM json_to_recordset($1::json) AS x(\n    id_form        TEXT,\n    name_form      TEXT,\n    short_form     TEXT,\n    sort_form      TEXT,\n    load_timestamp TEXT\n  )\n)\nINSERT INTO raw.itcrm_new_form_name AS t (\n  id_form,\n  name_form,\n  short_form,\n  sort_form,\n  load_timestamp\n)\nSELECT\n  NULLIF(id_form,'')::int,\n  name_form,\n  CASE WHEN NULLIF(short_form,'') IS NULL THEN NULL ELSE short_form::int END,\n  CASE WHEN NULLIF(sort_form,'')  IS NULL THEN NULL ELSE sort_form::int  END,\n  COALESCE(NULLIF(load_timestamp,'')::timestamptz, NOW())\nFROM src\nON CONFLICT (id_form) DO UPDATE\nSET\n  name_form      = EXCLUDED.name_form,\n  short_form     = EXCLUDED.short_form,\n  sort_form      = EXCLUDED.sort_form,\n  load_timestamp = EXCLUDED.load_timestamp;",
        "options": {
          "queryReplacement": "=$1 = {{$json.rows}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -9392,
        -560
      ],
      "id": "c864d396-70c9-4131-86f8-9ed52de081ef",
      "name": "raw.itcrm_new_form1",
      "credentials": {
        "postgres": {
          "id": "vltYUx2Z4Q74JwSy",
          "name": "Final ITstep"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Name: Prepare Bulk JSON (new_result)\n\nfunction toNumOrNull(v, toInt = true) {\n  if (v === undefined || v === null || v === '') return null;\n  \n  // Безопасное преобразование\n  try {\n    const n = toInt ? parseInt(v, 10) : Number(v);\n    \n    // Проверка на валидность\n    if (!Number.isFinite(n)) {\n      console.warn(`Invalid number conversion: \"${v}\" -> ${n}`);\n      return null;\n    }\n    \n    return n;\n  } catch (error) {\n    console.error(`Number conversion error for value \"${v}\": ${error.message}`);\n    return null;\n  }\n}\n\nreturn [\n  {\n    json: {\n      rows: items.map(({ json: r }) => ({\n        result_id:     toNumOrNull(r.result_id),\n        id_source:     toNumOrNull(r.id_source),\n        id_result:     toNumOrNull(r.id_result),\n        load_timestamp: r.load_timestamp ?? null\n      }))\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9664,
        -352
      ],
      "id": "cc69a2ea-677a-4f0e-81be-5c21f6e83408",
      "name": "Code6"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH src AS (\n  SELECT *\n  FROM json_to_recordset($1::json) AS x(\n    result_id      TEXT,\n    id_source      TEXT,\n    id_result      TEXT,\n    load_timestamp TEXT\n  )\n)\nINSERT INTO raw.itcrm_new_result AS t (\n  result_id,\n  id_source,\n  id_result,\n  load_timestamp\n)\nSELECT\n  NULLIF(result_id,'')::bigint,\n  NULLIF(id_source,'')::bigint,\n  CASE WHEN NULLIF(id_result,'') IS NULL THEN NULL ELSE id_result::int END,\n  COALESCE(NULLIF(load_timestamp,'')::timestamptz, NOW())\nFROM src\nON CONFLICT (result_id) DO UPDATE\nSET\n  id_source      = EXCLUDED.id_source,\n  id_result      = EXCLUDED.id_result,\n  load_timestamp = EXCLUDED.load_timestamp;",
        "options": {
          "queryReplacement": "=$1 = {{$json.rows}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -9392,
        -352
      ],
      "id": "d90a3887-159d-44bb-b7c2-e541ad62a1a8",
      "name": "raw.itcrm_new_result",
      "credentials": {
        "postgres": {
          "id": "vltYUx2Z4Q74JwSy",
          "name": "Final ITstep"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Name: Prepare Bulk JSON (new_result_name)\n\nfunction toNumOrNull(v, toInt = true) {\n  if (v === undefined || v === null || v === '') return null;\n  \n  // Безопасное преобразование\n  try {\n    const n = toInt ? parseInt(v, 10) : Number(v);\n    \n    // Проверка на валидность\n    if (!Number.isFinite(n)) {\n      console.warn(`Invalid number conversion: \"${v}\" -> ${n}`);\n      return null;\n    }\n    \n    return n;\n  } catch (error) {\n    console.error(`Number conversion error for value \"${v}\": ${error.message}`);\n    return null;\n  }\n}\n\nfunction emptyToNull(v) {\n  if (v === undefined || v === null) return null;\n  const s = String(v).trim();\n  return s === '' ? null : s;\n}\n\nreturn [\n  {\n    json: {\n      rows: items.map(({ json: r }) => ({\n        id_result:     toNumOrNull(r.id_result),\n        name_result:   emptyToNull(r.name_result),\n        img_result:    emptyToNull(r.img_result),\n        id_type:       toNumOrNull(r.id_type),\n        sort_result:   toNumOrNull(r.sort_result),\n        visibility:    toNumOrNull(r.visibility),\n        load_timestamp: r.load_timestamp ?? null\n      }))\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9664,
        -144
      ],
      "id": "7448b892-a9e5-490e-aae3-49f62e4fb994",
      "name": "Code8"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH src AS (\n  SELECT *\n  FROM json_to_recordset($1::json) AS x(\n    id_result     TEXT,\n    name_result   TEXT,\n    img_result    TEXT,\n    id_type       TEXT,\n    sort_result   TEXT,\n    visibility    TEXT,\n    load_timestamp TEXT\n  )\n)\nINSERT INTO raw.itcrm_new_result_name AS t (\n  id_result,\n  name_result,\n  img_result,\n  id_type,\n  sort_result,\n  visibility,\n  load_timestamp\n)\nSELECT\n  NULLIF(id_result,'')::int,\n  name_result,\n  img_result,\n  CASE WHEN NULLIF(id_type,'')     IS NULL THEN NULL ELSE id_type::int     END,\n  CASE WHEN NULLIF(sort_result,'') IS NULL THEN NULL ELSE sort_result::int END,\n  CASE WHEN NULLIF(visibility,'')  IS NULL THEN NULL ELSE visibility::int  END,\n  COALESCE(NULLIF(load_timestamp,'')::timestamptz, NOW())\nFROM src\nON CONFLICT (id_result) DO UPDATE\nSET\n  name_result   = EXCLUDED.name_result,\n  img_result    = EXCLUDED.img_result,\n  id_type       = EXCLUDED.id_type,\n  sort_result   = EXCLUDED.sort_result,\n  visibility    = EXCLUDED.visibility,\n  load_timestamp= EXCLUDED.load_timestamp;",
        "options": {
          "queryReplacement": "=$1 = {{$json.rows}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -9392,
        -144
      ],
      "id": "0fe6aaf9-a80c-404d-ba3b-0345f323f233",
      "name": "raw.itcrm_new_result_name",
      "credentials": {
        "postgres": {
          "id": "vltYUx2Z4Q74JwSy",
          "name": "Final ITstep"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Name: Prepare Bulk JSON (new_payment)\n\nfunction toNumOrNull(v, toInt = true) {\n  if (v === undefined || v === null || v === '') return null;\n  \n  // Безопасное преобразование\n  try {\n    const n = toInt ? parseInt(v, 10) : Number(v);\n    \n    // Проверка на валидность\n    if (!Number.isFinite(n)) {\n      console.warn(`Invalid number conversion: \"${v}\" -> ${n}`);\n      return null;\n    }\n    \n    return n;\n  } catch (error) {\n    console.error(`Number conversion error for value \"${v}\": ${error.message}`);\n    return null;\n  }\n}\n\nreturn [\n  {\n    json: {\n      rows: items.map(({ json: r }) => ({\n        payment_id:      toNumOrNull(r.payment_id),\n        id_source:       toNumOrNull(r.id_source),\n        payment:         toNumOrNull(r.payment),\n        reissuance:      toNumOrNull(r.reissuance),\n        // даты передаём строкой — парсим в SQL (учтём '0000-00-00')\n        date_payment:    r.date_payment ?? null,\n        date_fail:       r.date_fail ?? null,\n        date_prepayment: r.date_prepayment ?? null,\n        load_timestamp:  r.load_timestamp ?? null\n      }))\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9664,
        64
      ],
      "id": "4a5a31ce-8840-493d-a0ef-d91e3f0344f7",
      "name": "Code9"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH src AS (\n  SELECT *\n  FROM json_to_recordset($1::json) AS x(\n    payment_id      TEXT,\n    id_source       TEXT,\n    payment         TEXT,\n    reissuance      TEXT,\n    date_payment    TEXT,\n    date_fail       TEXT,\n    date_prepayment TEXT,\n    load_timestamp  TEXT\n  )\n)\nINSERT INTO raw.itcrm_new_payment AS t (\n  payment_id,\n  id_source,\n  payment,\n  reissuance,\n  date_payment,\n  date_fail,\n  date_prepayment,\n  load_timestamp\n)\nSELECT\n  NULLIF(payment_id,'')::bigint,\n  NULLIF(id_source,'')::bigint,\n  CASE WHEN NULLIF(payment,'')    IS NULL THEN NULL ELSE payment::int    END,\n  CASE WHEN NULLIF(reissuance,'') IS NULL THEN NULL ELSE reissuance::int END,\n\n  CASE\n    WHEN date_payment IS NULL OR date_payment IN ('', '0000-00-00', '0000-00-00 00:00:00') THEN NULL\n    WHEN date_payment ~ '^\\d{4}-\\d{2}-\\d{2}$'              THEN date_payment::date\n    WHEN date_payment ~ '^\\d{2}\\.\\d{2}\\.\\d{4}$'            THEN to_date(date_payment,'DD.MM.YYYY')\n    ELSE NULL\n  END AS date_payment,\n\n  CASE\n    WHEN date_fail IS NULL OR date_fail IN ('', '0000-00-00', '0000-00-00 00:00:00') THEN NULL\n    WHEN date_fail ~ '^\\d{4}-\\d{2}-\\d{2}$'                  THEN date_fail::date\n    WHEN date_fail ~ '^\\d{2}\\.\\d{2}\\.\\d{4}$'                THEN to_date(date_fail,'DD.MM.YYYY')\n    ELSE NULL\n  END AS date_fail,\n\n  CASE\n    WHEN date_prepayment IS NULL OR date_prepayment IN ('', '0000-00-00', '0000-00-00 00:00:00') THEN NULL\n    WHEN date_prepayment ~ '^\\d{4}-\\d{2}-\\d{2}$'            THEN date_prepayment::date\n    WHEN date_prepayment ~ '^\\d{2}\\.\\d{2}\\.\\d{4}$'          THEN to_date(date_prepayment,'DD.MM.YYYY')\n    ELSE NULL\n  END AS date_prepayment,\n\n  COALESCE(NULLIF(load_timestamp,'')::timestamptz, NOW())\nFROM src\nON CONFLICT (payment_id) DO UPDATE\nSET\n  id_source      = EXCLUDED.id_source,\n  payment        = EXCLUDED.payment,\n  reissuance     = EXCLUDED.reissuance,\n  date_payment   = EXCLUDED.date_payment,\n  date_fail      = EXCLUDED.date_fail,\n  date_prepayment= EXCLUDED.date_prepayment,\n  load_timestamp = EXCLUDED.load_timestamp;",
        "options": {
          "queryReplacement": "=$1 = {{$json.rows}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -9392,
        64
      ],
      "id": "ef1747b8-bad2-42a3-9ed2-32a0380db2e7",
      "name": "raw.itcrm_new_payment",
      "credentials": {
        "postgres": {
          "id": "vltYUx2Z4Q74JwSy",
          "name": "Final ITstep"
        }
      }
    },
    {
      "parameters": {
        "content": "Начало в 1 минуту после полуночи , за последние 7 дней без текущего."
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -10544,
        -1872
      ],
      "typeVersion": 1,
      "id": "a7da2106-a7ea-4135-961a-dd99e5539997",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "🔹 1. Источник (new_source)\n–\tns.id_source — главный первичный ключ «события/заявки» в CRM.\n–\tТут лежит сама первичная точка входа:\n–\ttype (например, 6 → договор),\n–\tдаты создания/обновления (date_time, updated_at),\n–\tстатусы: no_answer, dogovor, rejection, at_event, no_active и т.д.\n–\tЭто база для всех связей.\n⸻\n🔹 2. Интернет-заявка (internet_request)\n–\thttp://ir.id (request_id) ↔ ns.id_source (через internet_request_relation или напрямую в analytics).\n–\tСодержит:\n–\tконтактные данные (phone, email, fio),\n–\tисточник (request_type → Facebook, Mail и т.д.),\n–\tформа (form_request, form_name, landing_path),\n–\tдаты (created_date, date_no_answer, event_date).\nЗдесь фиксируется то, как заявка попала: лид-форма, лендинг, звонок и пр.\n⸻\n🔹 3. Relation (internet_request_relation, new_form, new_result)\n–\tinternet_request_relation: связывает заявку с источником (id_request ↔ id_source).\n–\tnew_form: какие формы были прикреплены к источнику (id_source ↔ id_form).\n–\tnew_form_name: расшифровка форм (id_form → название).\n–\tnew_result / new_result_name: статусы/результаты по источнику (id_result → справочник result_*).\n⸻\n🔹 4. Analytics\n–\tanalytics (таблица itcrm_new_kiev.analytics):\n–\tсодержит analytic_id, internet_request_id,\n–\tи самое главное — поле code (JSON) с параметрами рекламных кампаний:\n–\tgclid (Google Ads),\n–\tfb_lead_id (Facebook Lead Ads),\n–\tfclid, ga и т.д.\nИменно здесь мы «подвязываем» заявку к рекламным источникам.\n⸻\n🔹 5. Договор (docs_clients)\n–\tdc.contract_id — ключ договора.\n–\tВ new_source мы видим type = 6 (это означает, что источник перешёл в договор).\n–\tВ docs_clients уже лежит вся контрактная информация:\n–\tсуммы (sum_total, first_sum, entrance_fee, discount_sum и т.д.),\n–\tдаты (date_start_lesson, created_at, updated_at),\n–\tпаспортные/персональные поля (в raw мы их тоже сохраняем),\n–\tсвязка с системой учёта (code1c, other_code).\n⸻\n🔹 6. Оплаты (new_payment)\n–\tПривязка к источнику через id_source.\n–\tСодержит:\n–\tфакт оплаты (payment = 1),\n–\tпереоформления (reissuance),\n–\tдаты (date_payment, date_prepayment, date_fail).\nТо есть мы можем увидеть, оплачен ли договор, были ли проблемы или предоплата.ф",
        "height": 1456,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -10544,
        -1616
      ],
      "typeVersion": 1,
      "id": "9101fa2e-d991-4526-a723-20999f1b4d6f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH src AS (\n  SELECT *\n  FROM json_to_recordset($1::json) AS x(\n    id                   int,\n    analytic_id          smallint,\n    internet_request_id  int,\n    code_json            jsonb,\n    request_created_at   timestamp,\n    phone                text,\n    email                text,\n    load_timestamp       timestamptz\n  )\n)\nINSERT INTO raw.itcrm_analytics AS t (\n  id,\n  analytic_id,\n  internet_request_id,\n  code,\n  request_created_at,\n  phone,\n  email,\n  load_timestamp\n)\nSELECT\n  id,\n  analytic_id,\n  internet_request_id,\n  code_json,                         -- уже нормализованный jsonb\n  request_created_at,\n  NULLIF(phone, ''),\n  NULLIF(email, ''),\n  COALESCE(load_timestamp, now())\nFROM src\nON CONFLICT (id) DO UPDATE\nSET\n  analytic_id          = EXCLUDED.analytic_id,\n  internet_request_id  = EXCLUDED.internet_request_id,\n  code                 = EXCLUDED.code,\n  request_created_at   = EXCLUDED.request_created_at,\n  phone                = EXCLUDED.phone,\n  email                = EXCLUDED.email,\n  load_timestamp       = EXCLUDED.load_timestamp;",
        "options": {
          "queryReplacement": "=\t$1 = {{$json.rows}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -9392,
        -1824
      ],
      "id": "bd99bf68-ec97-4626-b7e4-422ba51d3252",
      "name": "raw.itcrm_analytics",
      "credentials": {
        "postgres": {
          "id": "vltYUx2Z4Q74JwSy",
          "name": "Final ITstep"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Name: Prepare Users with Enhanced Validation\n\nconst toInt = v => {\n  if (v === '' || v == null) return null;\n  const n = parseInt(v, 10);\n  return Number.isFinite(n) ? n : null;\n};\n\nconst toBool = v => {\n  if (v === '' || v == null) return null;\n  const s = String(v).toLowerCase().trim();\n  if (['1', 't', 'true', 'yes', 'y'].includes(s)) return true;\n  if (['0', 'f', 'false', 'no', 'n'].includes(s)) return false;\n  return null;\n};\n\nconst normPhone = v => {\n  if (!v) return null;\n  \n  try {\n    let s = String(v).replace(/[^\\d]/g, ''); // только цифры\n    if (!s || s.length < 9) return null; // минимум 9 цифр\n    \n    // привести к формату 380XXXXXXXXX по возможности\n    if (s.startsWith('0') && s.length === 10) {\n      s = '38' + s; // 0XXXXXXXXX -> 380XXXXXXXXX\n    } else if (!s.startsWith('380') && s.length === 9) {\n      s = '380' + s; // XXXXXXXXX -> 380XXXXXXXXX\n    }\n    \n    // Проверка на корректную длину украинского номера\n    if (s.startsWith('380') && s.length !== 12) {\n      console.warn(`Invalid UA phone length: ${s}`);\n      return s; // возвращаем как есть, но с предупреждением\n    }\n    \n    return s;\n  } catch (error) {\n    console.error(`Phone normalization error: ${error.message}`);\n    return null;\n  }\n};\n\nconst validateEmail = email => {\n  if (!email) return null;\n  \n  const trimmed = String(email).toLowerCase().trim();\n  \n  // Базовая проверка формата email\n  const emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n  if (!emailRegex.test(trimmed)) {\n    console.warn(`Invalid email format: ${trimmed}`);\n    return null;\n  }\n  \n  // Проверка на подозрительные домены (опционально)\n  const suspiciousDomains = ['test.com', 'example.com', 'temp.com'];\n  const domain = trimmed.split('@')[1];\n  if (suspiciousDomains.includes(domain)) {\n    console.warn(`Suspicious email domain: ${domain}`);\n  }\n  \n  return trimmed;\n};\n\nconst processedItems = items.map((item, index) => {\n  try {\n    const { json } = item;\n    \n    const userId = toInt(json.id_user);\n    if (!userId) {\n      console.warn(`Skipping row ${index}: missing id_user`);\n      return null;\n    }\n\n    return {\n      json: {\n        id_user: userId,\n        name_user: json.fio_user ?? json.name_user ?? null,\n        email_user: validateEmail(json.email_user),\n        login_user: json.username ?? json.login_user ?? null,\n        phone_user: normPhone(json.tel_user ?? json.phone_user),\n        arc_user: toBool(json.arc_user),\n        flag_enter: toBool(json.flag_enter),\n        external_user_id: toInt(json.external_user_id),\n        external_profile_id: toInt(json.external_profile_id),\n        position_id: toInt(json.position_id),\n        load_timestamp: json.load_timestamp || null,\n      }\n    };\n  } catch (error) {\n    console.error(`Error processing user row ${index}: ${error.message}`);\n    return null;\n  }\n}).filter(item => item !== null);\n\nreturn processedItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9664,
        288
      ],
      "id": "cebe946d-884f-4685-8866-d92e92edfb74",
      "name": "Code33"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH uids AS (\n  SELECT DISTINCT rws.user_id\n  FROM itcrm_new_kiev.request_work_states rws\n  WHERE rws.created_at >= DATE_SUB(CURDATE(), INTERVAL 90 DAY)\n  UNION\n  SELECT DISTINCT dc.created_by\n  FROM itcrm_new_kiev.docs_clients dc\n  WHERE dc.created_at >= DATE_SUB(CURDATE(), INTERVAL 90 DAY)\n  UNION\n  SELECT DISTINCT dc.updated_by\n  FROM itcrm_new_kiev.docs_clients dc\n  WHERE dc.updated_at >= DATE_SUB(CURDATE(), INTERVAL 90 DAY)\n)\nSELECT\n  u.*,\n  CURRENT_TIMESTAMP AS load_timestamp\nFROM itcrm_public.`user` u\nJOIN uids ON u.id_user = uids.user_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -9872,
        288
      ],
      "id": "2a743354-509c-4e90-a60a-d506773dcb2d",
      "name": "stg_users1",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "C5GYW6qNSkDJ0GnM",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const yes = (v) => {\n  const s = String(v).toLowerCase();\n  return s === '1' || s === 'true' || s === 't' || s === 'yes' || s === 'y';\n};\n\nconst guessCurrencyCode = (country, alias) => {\n  if (['ua', 'ukraine'].includes(country) || /kyiv|kiev/.test(alias)) return 'UAH';\n  if (['kz', 'kazakhstan'].includes(country)) return 'KZT';\n  if (['pl', 'poland'].includes(country)) return 'PLN';\n  if (['cz', 'czech', 'czechia'].includes(country)) return 'CZK';\n  if (['ro', 'romania'].includes(country)) return 'RON';\n  if (['bg', 'bulgaria'].includes(country)) return 'BGN';\n  if (['hu', 'hungary'].includes(country)) return 'HUF';\n  if (['gb', 'uk', 'united kingdom', 'great britain'].includes(country)) return 'GBP';\n  if (['de', 'fr', 'es', 'it', 'pt', 'nl', 'be', 'at', 'fi', 'gr', 'ie', 'lu', 'mt', 'si', 'sk', 'lv', 'lt', 'ee', 'cy'].includes(country)) return 'EUR';\n  if (['us', 'usa', 'united states'].includes(country)) return 'USD';\n  return 'USD';\n};\n\nreturn items.map(({ json }) => {\n  const country = (json.country || '').toLowerCase();\n  const alias = (json.alias || '').toLowerCase();\n  const idCity = json.id_city != null ? parseInt(json.id_city, 10) : null;\n\n  const currencyCode = (json.currency_code || '').toUpperCase() || guessCurrencyCode(country, alias);\n\n  return {\n    json: {\n      branch_key: `${country}:${alias}`,\n      country,\n      alias,\n      id_city: idCity,\n      company_id: json.company_id != null ? parseInt(json.company_id, 10) : null,\n      name: json.name || null,\n      timezone: null,\n      currency_id: json.currency_id != null ? parseInt(json.currency_id, 10) : null,\n      currency_code: currencyCode,\n      is_active: json.status != null ? yes(json.status) : null,\n      is_test: yes(json.is_test),\n      is_internal: yes(json.is_internal),\n      source: 'itcrm_admin.admin_company',\n      src_load_timestamp: json.src_load_timestamp || null\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9328,
        528
      ],
      "id": "c074cf31-0893-4b7e-b519-8d111b90e169",
      "name": "Code34"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH payload AS (\n  SELECT\n    (row->>'id_user')::bigint                      AS id_user,\n    NULLIF(btrim(row->>'name_user'), '')          AS name_user,\n    NULLIF(lower(row->>'email_user'), '')         AS email_user,\n    NULLIF(btrim(row->>'login_user'), '')         AS login_user,\n    NULLIF(btrim(row->>'phone_user'), '')         AS phone_user,\n    CASE\n      WHEN (row->>'arc_user') IN ('true','t','1')  THEN TRUE\n      WHEN (row->>'arc_user') IN ('false','f','0') THEN FALSE\n      ELSE NULL\n    END                                            AS arc_user,\n    CASE\n      WHEN (row->>'flag_enter') IN ('true','t','1')  THEN TRUE\n      WHEN (row->>'flag_enter') IN ('false','f','0') THEN FALSE\n      ELSE NULL\n    END                                            AS flag_enter,\n    NULLIF(row->>'external_user_id','')::bigint    AS external_user_id,\n    NULLIF(row->>'external_profile_id','')::bigint AS external_profile_id,\n    NULLIF(row->>'position_id','')::int            AS position_id,\n    COALESCE((row->>'load_timestamp')::timestamptz, now()) AS load_timestamp\n  FROM (SELECT $1::jsonb AS row) s\n)\nINSERT INTO raw.itcrm_users_ua (\n  id_user, name_user, email_user, login_user, phone_user,\n  arc_user, flag_enter, external_user_id, external_profile_id, position_id,\n  load_timestamp\n)\nSELECT\n  id_user, name_user, email_user, login_user, phone_user,\n  arc_user, flag_enter, external_user_id, external_profile_id, position_id,\n  load_timestamp\nFROM payload\nON CONFLICT (id_user) DO UPDATE SET\n  name_user            = EXCLUDED.name_user,\n  email_user           = EXCLUDED.email_user,\n  login_user           = EXCLUDED.login_user,\n  phone_user           = EXCLUDED.phone_user,\n  arc_user             = EXCLUDED.arc_user,\n  flag_enter           = EXCLUDED.flag_enter,\n  external_user_id     = EXCLUDED.external_user_id,\n  external_profile_id  = EXCLUDED.external_profile_id,\n  position_id          = EXCLUDED.position_id,\n  load_timestamp       = EXCLUDED.load_timestamp;",
        "options": {
          "queryReplacement": "=={{$json}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -9392,
        288
      ],
      "id": "0feefe14-020f-4fa6-844a-3b42bdbfd407",
      "name": "raw.itcrm_users_ua",
      "credentials": {
        "postgres": {
          "id": "vltYUx2Z4Q74JwSy",
          "name": "Final ITstep"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  {{$json.company_id}}          AS company_id,\n  LOWER('{{$json.safe_alias}}') AS alias,\n  '{{$json.name}}'              AS name,\n  LOWER('{{$json.country}}')    AS country,\n  {{$json.status}}              AS status,\n  {{$json.is_test}}             AS is_test,\n  {{$json.is_internal}}         AS is_internal,\n  '{{$json.src_load_timestamp}}' AS src_load_timestamp,\n  t.id_city,\n  t.cnt\nFROM (\n  SELECT id_city, COUNT(*) AS cnt\n  FROM itcrm_new_{{$json.safe_alias}}.reg_zatrat\n  GROUP BY id_city\n  ORDER BY cnt DESC\n  LIMIT 1\n) t;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -9488,
        528
      ],
      "id": "8fa6147f-496f-42db-ae89-04f6a139eebc",
      "name": "id_city",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "C5GYW6qNSkDJ0GnM",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  id                           AS company_id,\n  LOWER(TRIM(alias))           AS alias,\n  name,\n  LOWER(TRIM(country))         AS country,\n  CAST(status AS SIGNED)       AS status,\n  CAST(is_test AS SIGNED)      AS is_test,\n  CAST(is_internal AS SIGNED)  AS is_internal,\n  NOW()                        AS src_load_timestamp\nFROM itcrm_admin.admin_company\nWHERE country = 'UA'\n  AND COALESCE(alias,'') <> ''\n  AND status = 1;   -- активные",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -9872,
        528
      ],
      "id": "68e3b995-fe54-4272-a9b7-8f852ce3b5cf",
      "name": "id_city1",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "C5GYW6qNSkDJ0GnM",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH j AS (\n  -- текущее item → JSON\n  SELECT '{{ JSON.stringify($json).replace(/'/g, \"''\") }}'::jsonb AS row\n),\np AS (\n  SELECT\n    lower(trim(coalesce(row->>'country','')))  AS country,\n    lower(trim(coalesce(row->>'alias','')))    AS alias,\n    NULLIF(row->>'id_city','')::int            AS id_city,\n    NULLIF(row->>'company_id','')::int         AS company_id,\n    NULLIF(btrim(row->>'name'),'')             AS name,\n    NULLIF(btrim(row->>'timezone'),'')         AS timezone,\n\n    -- вход (опционально)\n    NULLIF(row->>'currency_code','')           AS in_currency_code,\n    NULLIF(row->>'currency_id','')::int        AS in_currency_id,\n\n    CASE WHEN (row->>'is_active')   IN ('true','t','1')  THEN TRUE\n         WHEN (row->>'is_active')   IN ('false','f','0') THEN FALSE ELSE NULL END AS is_active,\n    CASE WHEN (row->>'is_test')     IN ('true','t','1')  THEN TRUE\n         WHEN (row->>'is_test')     IN ('false','f','0') THEN FALSE ELSE NULL END AS is_test,\n    CASE WHEN (row->>'is_internal') IN ('true','t','1')  THEN TRUE\n         WHEN (row->>'is_internal') IN ('false','f','0') THEN FALSE ELSE NULL END AS is_internal,\n    NULLIF(btrim(row->>'source'),'')           AS source,\n    coalesce((row->>'src_load_timestamp')::timestamptz, now()) AS src_load_timestamp\n  FROM j\n),\nautocode AS (\n  SELECT\n    p.*,\n    upper(\n      coalesce(\n        p.in_currency_code,\n        CASE\n          WHEN p.country IN ('ua','ukraine') OR p.alias ~ '(kyiv|kiev)' THEN 'UAH'\n          WHEN p.country IN ('kz','kazakhstan')                         THEN 'KZT'\n          WHEN p.country IN ('pl','poland')                             THEN 'PLN'\n          WHEN p.country IN ('cz','czech','czechia')                    THEN 'CZK'\n          WHEN p.country IN ('ro','romania')                            THEN 'RON'\n          WHEN p.country IN ('bg','bulgaria')                           THEN 'BGN'\n          WHEN p.country IN ('hu','hungary')                            THEN 'HUF'\n          WHEN p.country IN ('gb','uk','united kingdom','great britain') THEN 'GBP'\n          WHEN p.country IN ('de','fr','es','it','pt','nl','be','at','fi','gr','ie','lu','mt','si','sk','lv','lt','ee','cy') THEN 'EUR'\n          WHEN p.country IN ('us','usa','united states')                THEN 'USD'\n          ELSE 'USD'\n        END\n      )\n    ) AS currency_code\n  FROM p\n),\ncur AS (\n  -- мини-справочник (ISO numeric). Замените на свой, если нужно.\n  SELECT * FROM (VALUES\n    ('UAH', 980), ('USD', 840), ('EUR', 978), ('GBP', 826),\n    ('PLN', 985), ('CZK', 203), ('RON', 946), ('BGN', 975),\n    ('HUF', 348), ('KZT', 398)\n  ) AS t(iso_code, currency_id)\n),\nresolved_currency AS (\n  SELECT\n    a.*,\n    coalesce(a.in_currency_id, c.currency_id) AS currency_id\n  FROM autocode a\n  LEFT JOIN cur c\n    ON c.iso_code = a.currency_code\n)\nINSERT INTO raw.dim_branch_src (\n  -- ВАЖНО: без branch_key (он GENERATED)\n  country,\n  alias,\n  id_city,\n  company_id,\n  name,\n  timezone,\n  currency_id,\n  is_active,\n  is_test,\n  is_internal,\n  source,\n  src_load_timestamp,\n  ingested_at\n)\nSELECT\n  country,\n  alias,\n  id_city,\n  company_id,\n  name,\n  timezone,\n  currency_id,\n  is_active,\n  is_test,\n  is_internal,\n  source,\n  src_load_timestamp,\n  now()\nFROM resolved_currency\nWHERE country <> '' AND alias <> ''\nON CONFLICT (branch_key) DO UPDATE SET\n  id_city            = EXCLUDED.id_city,\n  company_id         = EXCLUDED.company_id,\n  name               = EXCLUDED.name,\n  timezone           = EXCLUDED.timezone,\n  currency_id        = EXCLUDED.currency_id,\n  is_active          = EXCLUDED.is_active,\n  is_test            = EXCLUDED.is_test,\n  is_internal        = EXCLUDED.is_internal,\n  source             = EXCLUDED.source,\n  src_load_timestamp = EXCLUDED.src_load_timestamp,\n  ingested_at        = now();",
        "options": {
          "queryReplacement": "=={{$json}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -9184,
        528
      ],
      "id": "c9289223-2323-49af-8cfe-fc2e58b4a56e",
      "name": "raw.dim_branch_src",
      "credentials": {
        "postgres": {
          "id": "vltYUx2Z4Q74JwSy",
          "name": "Final ITstep"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  o.id,\n  o.id_source,\n  o.id_city,\n  o.code1c,\n  o.one_1c,\n  o.date        AS date,\n  o.listener,\n  o.customer,\n  o.datebirth,\n  o.mobphone,\n  o.homephone,\n  o.workphone,\n  o.cpasport,\n  o.cpassissued,\n  o.lpasport,\n  o.lpassissued,\n  o.cindnumber,\n  o.email,\n  o.address,\n  o.education,\n  o.work,\n  o.okpo,\n  o.no_active,\n  o.id_course,\n  o.descr_bookkeeping,\n  o.discount_sum,\n  o.discount_description,\n  o.payment_form,\n  o.payment_status,\n  o.short_contract,\n  o.first_sum,\n  o.sent1s,\n  o.id_form,\n  o.id_product,\n  o.product,\n  o.name_form,\n  o.name_sub_form,\n  o.contract_url,\n  o.extension_status,\n  o.date_pay_onec,\n  o.sum_pay_onec,\n  o.entrance_fee,\n  o.total_cost,\n  o.quantity_of_pairs,\n  o.payment_schedule,\n  o.contracts_url,\n  o.discounts_url,\n  o.customer_type,\n  o.customer_iban\nFROM clients_for_bookkeeping o\nWHERE o.date >= DATE_SUB(CURDATE(), INTERVAL 7 DAY)\n  AND o.date <  CURDATE();",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -9872,
        -2016
      ],
      "id": "242fcb80-56d4-4b73-bac7-db4895d27d0d",
      "name": "clients_for_bookkeeping",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "C5GYW6qNSkDJ0GnM",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Name: Prepare CRM Orders with Error Handling\n\nfunction n(v) {\n  return (v === '' || v === undefined || v === null) ? null : v;\n}\n\nfunction toInt(v) {\n  if (v === null || v === undefined || v === '') return null;\n  const x = Number.parseInt(v, 10);\n  return Number.isFinite(x) ? x : null;\n}\n\nfunction toNum(v) {\n  if (v === null || v === undefined || v === '') return null;\n  const x = Number(v);\n  return Number.isFinite(x) ? x : null;\n}\n\nfunction toBool(v) {\n  if (v === true || v === false) return v;\n  if (v === 1 || v === '1' || (typeof v === 'string' && v.toLowerCase() === 'true')) return true;\n  if (v === 0 || v === '0' || (typeof v === 'string' && v.toLowerCase() === 'false')) return false;\n  return null;\n}\n\nfunction j(v) {\n  if (v === null || v === undefined) return null;\n  if (typeof v === 'object') return v;\n  if (typeof v === 'string') {\n    try {\n      return JSON.parse(v);\n    } catch (e) {\n      console.warn(`JSON parse failed: ${e.message}`);\n      return null;\n    }\n  }\n  return null;\n}\n\nfunction normalize(r, index) {\n  try {\n    return {\n      id: toNum(r.id),\n      id_source: toNum(r.id_source),\n      id_city: toInt(r.id_city),\n      code1c: n(r.code1c),\n      one_1c: toBool(r.one_1c),\n      date: n(r.date),\n      listener: n(r.listener),\n      customer: n(r.customer),\n      datebirth: n(r.datebirth),\n      mobphone: n(r.mobphone),\n      homephone: n(r.homephone),\n      workphone: n(r.workphone),\n      cpasport: n(r.cpasport),\n      cpassissued: n(r.cpassissued),\n      lpasport: n(r.lpasport),\n      lpassissued: n(r.lpassissued),\n      cindnumber: n(r.cindnumber),\n      email: n(r.email),\n      address: n(r.address),\n      education: n(r.education),\n      work: n(r.work),\n      okpo: n(r.okpo),\n      no_active: toBool(r.no_active),\n      id_course: toInt(r.id_course),\n      descr_bookkeeping: n(r.descr_bookkeeping),\n      discount_sum: toNum(r.discount_sum),\n      discount_description: n(r.discount_description),\n      payment_form: n(r.payment_form),\n      payment_status: toInt(r.payment_status),\n      short_contract: toBool(r.short_contract),\n      first_sum: toNum(r.first_sum),\n      sent1s: toInt(r.sent1s),\n      id_form: toInt(r.id_form),\n      id_product: toNum(r.id_product),\n      product: n(r.product),\n      name_form: n(r.name_form),\n      name_sub_form: n(r.name_sub_form),\n      contract_url: n(r.contract_url),\n      extension_status: toInt(r.extension_status),\n      date_pay_onec: n(r.date_pay_onec),\n      sum_pay_onec: toNum(r.sum_pay_onec),\n      entrance_fee: toNum(r.entrance_fee),\n      total_cost: toNum(r.total_cost),\n      quantity_of_pairs: toInt(r.quantity_of_pairs),\n      payment_schedule: j(r.payment_schedule),\n      contracts_url: j(r.contracts_url),\n      discounts_url: j(r.discounts_url),\n      customer_type: toInt(r.customer_type),\n      customer_iban: n(r.customer_iban),\n    };\n  } catch (error) {\n    console.error(`Error normalizing row ${index}: ${error.message}`);\n    // Возвращаем минимальную валидную структуру\n    return {\n      id: toNum(r.id),\n      id_source: toNum(r.id_source),\n      id_city: toInt(r.id_city),\n      code1c: null,\n      one_1c: null,\n      date: n(r.date),\n      listener: null,\n      customer: n(r.customer),\n      // ... остальные поля как null\n    };\n  }\n}\n\ntry {\n  const rows = items.map((i, index) => normalize(i.json, index))\n    .filter(row => row.id !== null); // Фильтруем записи без ID\n\n  console.log(`Successfully processed ${rows.length} orders`);\n\n  return [{\n    json: {\n      payload: rows\n    }\n  }];\n} catch (error) {\n  console.error(`Critical error in Code10: ${error.message}`);\n  throw error;\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9632,
        -2016
      ],
      "id": "6ec33610-1eaf-497a-9eec-abffd2b37088",
      "name": "Code10"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH data AS (\n  SELECT\n    CASE\n      WHEN jsonb_typeof($1::jsonb) = 'array' THEN $1::jsonb\n      WHEN jsonb_typeof($1::jsonb) = 'object' THEN\n        COALESCE(\n          ($1::jsonb)->'rows',\n          ($1::jsonb)->'payload',\n          ($1::jsonb)->'data',\n          ($1::jsonb)->'items',\n          CASE\n            WHEN ($1::jsonb ? 'sample_first_row') AND jsonb_typeof(($1::jsonb)->'sample_first_row') = 'object'\n              THEN jsonb_build_array(($1::jsonb)->'sample_first_row')\n            ELSE jsonb_build_array($1::jsonb)\n          END\n        )\n      ELSE '[]'::jsonb\n    END AS arr\n),\nsrc AS (\n  SELECT *\n  FROM jsonb_to_recordset((SELECT arr FROM data)) AS x(\n    id                 BIGINT,\n    id_source          BIGINT,\n    id_city            INT,\n    code1c             TEXT,\n    one_1c             BOOLEAN,\n    \"date\"             TIMESTAMP,\n    listener           TEXT,\n    customer           TEXT,\n    datebirth          DATE,\n    mobphone           TEXT,\n    homephone          TEXT,\n    workphone          TEXT,\n    cpasport           TEXT,\n    cpassissued        TEXT,\n    lpasport           TEXT,\n    lpassissued        TEXT,\n    cindnumber         TEXT,\n    email              TEXT,\n    address            TEXT,\n    education          TEXT,\n    work               TEXT,\n    okpo               TEXT,\n    no_active          BOOLEAN,\n    id_course          INT,\n    descr_bookkeeping  TEXT,\n    discount_sum       NUMERIC(14,2),\n    discount_description TEXT,\n    payment_form       TEXT,\n    payment_status     SMALLINT,\n    short_contract     BOOLEAN,\n    first_sum          NUMERIC(14,2),\n    sent1s             SMALLINT,\n    id_form            INT,\n    id_product         BIGINT,\n    product            TEXT,\n    name_form          TEXT,\n    name_sub_form      TEXT,\n    contract_url       TEXT,\n    extension_status   SMALLINT,\n    date_pay_onec      TIMESTAMP,\n    sum_pay_onec       NUMERIC(14,2),\n    entrance_fee       NUMERIC(14,2),\n    total_cost         NUMERIC(14,2),\n    quantity_of_pairs  INT,\n    payment_schedule   JSONB,\n    contracts_url      JSONB,\n    discounts_url      JSONB,\n    customer_type      SMALLINT,\n    customer_iban      TEXT\n  )\n),\nsrc_clean AS (\n  -- защищаемся от мусора: пропускаем записи без ключевого PK\n  SELECT * FROM src WHERE id IS NOT NULL\n)\nINSERT INTO raw.crm_orders AS t (\n  id, id_source, id_city, code1c, one_1c, \"date\", listener, customer, datebirth,\n  mobphone, homephone, workphone, cpasport, cpassissued, lpasport, lpassissued,\n  cindnumber, email, address, education, work, okpo, no_active, id_course,\n  descr_bookkeeping, discount_sum, discount_description, payment_form,\n  payment_status, short_contract, first_sum, sent1s, id_form, id_product,\n  product, name_form, name_sub_form, contract_url, extension_status,\n  date_pay_onec, sum_pay_onec, entrance_fee, total_cost, quantity_of_pairs,\n  payment_schedule, contracts_url, discounts_url, customer_type, customer_iban\n)\nSELECT\n  id, id_source, id_city, code1c, one_1c, \"date\", listener, customer, datebirth,\n  mobphone, homephone, workphone, cpasport, cpassissued, lpasport, lpassissued,\n  cindnumber, email, address, education, work, okpo, no_active, id_course,\n  descr_bookkeeping, discount_sum, discount_description, payment_form,\n  payment_status, short_contract, first_sum, sent1s, id_form, id_product,\n  product, name_form, name_sub_form, contract_url, extension_status,\n  date_pay_onec, sum_pay_onec, entrance_fee, total_cost, quantity_of_pairs,\n  payment_schedule, contracts_url, discounts_url, customer_type, customer_iban\nFROM src_clean\nON CONFLICT (id) DO UPDATE SET\n  id_source = EXCLUDED.id_source,\n  id_city = EXCLUDED.id_city,\n  code1c = EXCLUDED.code1c,\n  one_1c = EXCLUDED.one_1c,\n  \"date\" = EXCLUDED.\"date\",\n  listener = EXCLUDED.listener,\n  customer = EXCLUDED.customer,\n  datebirth = EXCLUDED.datebirth,\n  mobphone = EXCLUDED.mobphone,\n  homephone = EXCLUDED.homephone,\n  workphone = EXCLUDED.workphone,\n  cpasport = EXCLUDED.cpasport,\n  cpassissued = EXCLUDED.cpassissued,\n  lpasport = EXCLUDED.lpasport,\n  lpassissued = EXCLUDED.lpassissued,\n  cindnumber = EXCLUDED.cindnumber,\n  email = EXCLUDED.email,\n  address = EXCLUDED.address,\n  education = EXCLUDED.education,\n  work = EXCLUDED.work,\n  okpo = EXCLUDED.okpo,\n  no_active = EXCLUDED.no_active,\n  id_course = EXCLUDED.id_course,\n  descr_bookkeeping = EXCLUDED.descr_bookkeeping,\n  discount_sum = EXCLUDED.discount_sum,\n  discount_description = EXCLUDED.discount_description,\n  payment_form = EXCLUDED.payment_form,\n  payment_status = EXCLUDED.payment_status,\n  short_contract = EXCLUDED.short_contract,\n  first_sum = EXCLUDED.first_sum,\n  sent1s = EXCLUDED.sent1s,\n  id_form = EXCLUDED.id_form,\n  id_product = EXCLUDED.id_product,\n  product = EXCLUDED.product,\n  name_form = EXCLUDED.name_form,\n  name_sub_form = EXCLUDED.name_sub_form,\n  contract_url = EXCLUDED.contract_url,\n  extension_status = EXCLUDED.extension_status,\n  date_pay_onec = EXCLUDED.date_pay_onec,\n  sum_pay_onec = EXCLUDED.sum_pay_onec,\n  entrance_fee = EXCLUDED.entrance_fee,\n  total_cost = EXCLUDED.total_cost,\n  quantity_of_pairs = EXCLUDED.quantity_of_pairs,\n  payment_schedule = EXCLUDED.payment_schedule,\n  contracts_url = EXCLUDED.contracts_url,\n  discounts_url = EXCLUDED.discounts_url,\n  customer_type = EXCLUDED.customer_type,\n  customer_iban = EXCLUDED.customer_iban\nRETURNING id, customer, \"date\", id_product;",
        "options": {
          "queryReplacement": "=={{ $json }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -9392,
        -2016
      ],
      "id": "c7ae1bff-6121-4d89-a257-98405033c61e",
      "name": "raw.crm_orders",
      "credentials": {
        "postgres": {
          "id": "vltYUx2Z4Q74JwSy",
          "name": "Final ITstep"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ✅ VALIDATE ALIAS - Полный whitelist из БД\n\nconst ALLOWED_ALIASES = [\n  'autoqa', 'basic_sem', 'berd', 'bila', 'boryspil', 'brovary',\n  'cher', 'cherk', 'cherniv', 'coll_od', 'defenders', 'dp',\n  'drohobych', 'foun', 'globus', 'hm', 'hson', 'irpen',\n  'itstepblck', 'ivf', 'kalush', 'kh', 'kiev', 'kmn',\n  'kolomyia', 'kovel', 'kram', 'kremen', 'krog', 'krp',\n  'kyiv', 'lt', 'lv', 'med_coll', 'mk', 'mukachevo',\n  'multimed', 'od', 'ol', 'pl', 'rv', 'stanislav',\n  'stsm_kiev', 'stt_ukr', 'sum', 'test', 'testqa', 'trn',\n  'unicorn', 'uzh', 'virt', 'virt_west', 'vn', 'zhitomir', 'zp'\n];\n\nreturn items.map(({ json }) => {\n  const alias = String(json.alias || '').toLowerCase().trim();\n\n  // Проверка 1: Непустой\n  if (!alias) {\n    throw new Error(`🚫 SECURITY: Empty alias not allowed.`);\n  }\n\n  // Проверка 2: Whitelist\n  if (!ALLOWED_ALIASES.includes(alias)) {\n    throw new Error(`🚫 SECURITY: Unauthorized alias \"${alias}\". Contact administrator.`);\n  }\n\n  // Проверка 3: Безопасные символы\n  if (!/^[a-z0-9_]+$/.test(alias)) {\n    throw new Error(`🚫 SECURITY: Alias \"${alias}\" contains invalid characters.`);\n  }\n\n  // Проверка 4: Длина\n  if (alias.length > 50) {\n    throw new Error(`🚫 SECURITY: Alias too long.`);\n  }\n\n  // ✅ Все проверки пройдены\n  console.log(`✅ Validated alias: ${alias}`);\n\n  return {\n    json: {\n      ...json,\n      safe_alias: alias\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9648,
        528
      ],
      "id": "f6bcc73b-6ef8-4e5d-9476-fe1c6be91d27",
      "name": "Code11"
    }
  ],
  "pinData": {},
  "connections": {
    "stg_new_sources1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "stg_internet_requests1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "stg_internet_request_relation1": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "stg_docs_clients1": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "stg_new_payments": {
      "main": [
        [
          {
            "node": "Code9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "stg_new_result_names1": {
      "main": [
        [
          {
            "node": "Code8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "stg_new_results1": {
      "main": [
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "stg_new_form_names1": {
      "main": [
        [
          {
            "node": "Code7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new_form": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "clients_for_bookkeeping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "raw.internet_request": {
      "main": [
        [
          {
            "node": "stg_new_sources1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "stg_analytics1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "raw.itcrm_analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "raw.internet_request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "raw.itcrm_new_source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "raw.itcrm_new_source": {
      "main": [
        [
          {
            "node": "stg_internet_request_relation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "raw.itcrm_internet_request_relation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "raw.itcrm_internet_request_relation": {
      "main": [
        [
          {
            "node": "stg_docs_clients1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "raw.itcrm_docs_clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "raw.itcrm_docs_clients": {
      "main": [
        [
          {
            "node": "new_form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "raw.itcrm_new_form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "raw.itcrm_new_form": {
      "main": [
        [
          {
            "node": "stg_new_form_names1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code7": {
      "main": [
        [
          {
            "node": "raw.itcrm_new_form1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "raw.itcrm_new_form1": {
      "main": [
        [
          {
            "node": "stg_new_results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "raw.itcrm_new_result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "raw.itcrm_new_result": {
      "main": [
        [
          {
            "node": "stg_new_result_names1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code8": {
      "main": [
        [
          {
            "node": "raw.itcrm_new_result_name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "raw.itcrm_new_result_name": {
      "main": [
        [
          {
            "node": "stg_new_payments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code9": {
      "main": [
        [
          {
            "node": "raw.itcrm_new_payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "raw.itcrm_analytics": {
      "main": [
        [
          {
            "node": "stg_internet_requests1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "stg_users1": {
      "main": [
        [
          {
            "node": "Code33",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code33": {
      "main": [
        [
          {
            "node": "raw.itcrm_users_ua",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "raw.itcrm_new_payment": {
      "main": [
        [
          {
            "node": "stg_users1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code34": {
      "main": [
        [
          {
            "node": "raw.dim_branch_src",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_city": {
      "main": [
        [
          {
            "node": "Code34",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_city1": {
      "main": [
        [
          {
            "node": "Code11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "raw.itcrm_users_ua": {
      "main": [
        [
          {
            "node": "id_city1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "clients_for_bookkeeping": {
      "main": [
        [
          {
            "node": "Code10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code10": {
      "main": [
        [
          {
            "node": "raw.crm_orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "raw.crm_orders": {
      "main": [
        [
          {
            "node": "stg_analytics1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code11": {
      "main": [
        [
          {
            "node": "id_city",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "13a5c50a-970e-4082-94ad-515badffd0ec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "540ab69109515f10dd49f8acf74edf7f1313658ee3ec59f626a0c42af55aceaf"
  },
  "id": "GGD4mKmYslbj0EBa",
  "tags": []
}